html{
    box-sizing: border-box;
}
html,body{
    height: 100%;
    position: relative;
    overflow-x: hidden;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    font-weight: inherit;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: $text;
    font-size: 16px;
    line-height: 1;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
button{
    padding: 0;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked), 
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.container{
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}
.breadcrumbs{
    &__inner{
        padding: 28px 0;
    }
    &__list{
        a{
            color: $white;
        }
        li{
            display: inline-block;
            position: relative;
            &+li{
                padding-left: 24px;
                &:before{
                    content: '/';
                    position: absolute;
                    left: 8px;
                    color: $white;
                }
            }
        }
    }
}
.breadcrumbs__list li:last-child a,
.breadcrumbs__list li:last-child span{
    color: #bfcad7;
}

// popup start

.overlay{
    display: none;
}

.popup{
    width: 555px;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #ffffff;
    padding-bottom: 60px;
}

.popup__inner{
    border-bottom: 1px solid #e8ebf0;
}

.popup__title{
    font-size: 26px;
    line-height: 28px;
    color: #000000;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 28px;
}

.popup__text{
    line-height: 28px;
    text-align: center;
    padding-bottom: 28px;
    max-width: 430px;
    margin: 0 auto;
}

.popup__form{
    margin-top: 28px;
    padding: 0 50px;
    &-item{
        margin-bottom: 28px;
        label{
            margin-bottom: 13px;
            color: #000000;
            font-weight: 500;
        }
        input{
            height: 53px;
            line-height: 53px;
            background-color: #f4f5f8;
            border: none;
            padding: 0 23px;
            outline: none;
            &::placeholder{
                color: #898f96;
            }
        }
    }
    label,input{
        display: block;
        width: 100%;
    }
    button{
        min-width: 190px;
        height: 50px;
        line-height: 50px;
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        background-color: #0674ec;
        border: none;
        outline: none;
        font-size: 15px;
        color: #fff;
        padding: 0px 10px;
        cursor: pointer;
        display: block;
        margin-top: 32px;
    }
}

.popup input[type="checkbox"]:checked + label,
.popup input[type="checkbox"]:not(:checked) + label{
    padding-left: 35px;
    position: relative;
    cursor: pointer;
    font-weight: 400;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;

    }
}

.popup input[type="checkbox"]:checked + label{
    &:before{
        background-image: url(../images/icons/check-icon.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.popup input[type="checkbox"]:not(:checked) + label{
    &:before{
        width: 20px;
        height: 20px;
        border: 4px solid #e6e9ed;
        border-radius: 50%;
    }
}

.popup__links{
    margin-top: 40px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    color: #898f96;
    a{
        color:$btn-blue;
    }
}

#register .popup__links{
    display: block;
}

.recover__text{
    line-height: 30px;
    padding: 60px 48px 30px;
}

.fancybox-content{
    padding: 0;
}
// popup end


